﻿@model Pasa.Models.Database.MemberUsers[]
@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>

<div>
    @foreach (var item in Model)
    {
        <h5>@item.Name</h5>
    }

</div>
<div>@ViewBag.json </div>
<br />
<hr />
<div>
    @foreach (var item in (Pasa.Models.Database.MemberUsers[])ViewBag.deserialize)
    {
        <h5>@item.Name</h5>
    }
</div>
