﻿@model List<Pasa.Models.Database.samanProc_Result>


<h2>Index</h2>
<a href="@Url.Action("Check","Check")"><h3 class="col-lg-offset-9"  >content</h3></a>

<div>
    @foreach (var item in Model)
    {
        <h1>@item.Name</h1>
    }
</div>
<div>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <input type="text" name="Name" id="a" value="saman" />
    <input type="submit" id="c" name="sub" value="Check" class="btn btn-primary" />
    <span id="b"> </span>
    <script>
    $(document).ready(function () {
        alert('Helloooooooooooo');
        $('#c').click(function () {
            debugger;
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Ajaxi")',
                data: {Name : $('#a').val()}
            }).done(function (result) {
                $('#b').html(result);

            });
        });
    });
    </script>
</div>
